.video-wrapper {
    position: relative;
    width: $app-video-width;

    .react-player {
        height: auto !important; // Overrides styling from ReactPlayer package
        width: 100% !important; // Overrides styling from ReactPlayer package
    }
}
