// Colors
$white: #ffffff;
$black: #000000;
$red: #A62103;
$yellow: #F5A927;
$green: #4A5911;

$primary-color: #F23E16;
$medium-gray: #949FA6;

// App
$app-background-color: $white;

// Video
$app-video-width: 75%;
